
<!-- template (without image) -->
<div class="project shadow-large no-image">
    <div class="project-info">
        <h3>Project</h3>
        <p class="project-info-writeup">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
        </p>
        <br>
        <p class="project-info-skills">
            Skill 1, Skill 2
        </p>
        <a href="#">View Project</a>
    </div>
    <!-- End .project-info -->
</div>
<!-- End .project -->

<!-- template (with image) -->
<div class="project shadow-large">
    <div class="project-image">
        <img src="images/project.jpg" />
    </div>
    <!-- End .project-image -->
    <div class="project-info">
        <h3>Project</h3>
        <div class="row">
            <div class="col-md-1"></div>
            <p class="project-info-writeup col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
            </p>
        </div>
        <br>
        <div class="row">
            <p class="project-info-skills">
                Skill 1, Skill 2
            </p>
        </div>
        <a href="#">View Project</a>
    </div>
    <!-- End .project-info -->
</div>
<!-- End .project -->